.bs-docs-sidenav {
    width: 228px;
    padding: 0px;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}

.bs-docs-example {
  position: relative;
  margin: 8px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

a{
	color: #04628F;
}
.input {
font-family:Tahoma, Arial, ו;
font-size: 16px;
line-height:15px;
COLOR: #000000;
border-top-style: none;
border-right-style: none;
border-bottom-style: solid;
border-left-style: none;
border-bottom-color: #000000;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 1px;
border-left-width: 0px;
text-align:center;
outline: none;
}
